
.vs/ebayScrapper/v15/Server/sqlite3/storage.ide
.vs/ebayScrapper/v15/Server/sqlite3/storage.ide-shm
.vs/ebayScrapper/v15/Server/sqlite3/storage.ide-wal
App.config
bin/Debug/10_16_2018_9_51_39_PM.xlsx
bin/Debug/10_1_2018_6_36_57_PM - Copy.xlsx
bin/Debug/10_1_2018_6_36_57_PM.xlsx
bin/Debug/10_20_2018_7_56_49_PM.xlsx
bin/Debug/10_20_2018_8_00_09_PM.xlsx
bin/Debug/10_30_2018_2_50_02_PM.xlsx
bin/Debug/10_31_2018_5_52_23_AM.xlsx
bin/Debug/10_31_2018_8_52_56_PM.xlsx
bin/Debug/10_5_2018_4_55_53_AM.xlsx
bin/Debug/ebayScrapper.dat
bin/Debug/ebayScrapper.exe
bin/Debug/ebayScrapper.exe.config
bin/Debug/ebayScrapper.pdb
bin/Debug/ebayTemplate.xlsx
bin/Debug/EPPlus.dll
bin/Debug/EPPlus.xmlforms1
bin/Debug/ForElla.zip
bin/Debug/ForElla/ebayScrapper.dat
bin/Debug/ForElla/ebayTemplate.xlsx
bin/Debug/ForElla/EPPlus.dat
bin/Debug/ForElla/FSharp.Core.dat
bin/Debug/ForElla/HtmlAgilityPack.dat
bin/Debug/ForElla/Newtonsoft.Json.dat
bin/Debug/FSharp.Core.dll
bin/Debug/FSharp.Core.xml
bin/Debug/HtmlAgilityPack.dll
bin/Debug/HtmlAgilityPack.pdb
bin/Debug/HtmlAgilityPack.xml
bin/Debug/Microsoft.Office.Interop.Excel.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/v02_stepper7_31_2018_10_29_09_PM.xlsx
bin/Debug/v02_stepper7_31_2018_10_31_26_PM.xlsx
bin/Debug/v02_stepper7_31_2018_10_42_36_PM.xlsx
bin/Debug/Victorinox_Spartan.xlsx
bin/Debug/Victorinox_Spartan7_30_2018_10_59_58_PM.xlsx
bin/Debug/vo2_stepper7_31_2018_10_51_35_PM.xlsx
bin/Debug/~$9_26_2018_8_15_44_PM.xlsx
bin/Debug/~$ebayTemplate.xlsx
bin/Release/ebayScrapper.exe
bin/Release/ebayScrapper.exe.config
bin/Release/ebayScrapper.pdb
bin/Release/ebayScrapper_32bit.dat
bin/Release/ebayTemplate.xlsx
bin/Release/FSharp.Core.dll
bin/Release/FSharp.Core.xml
bin/Release/HtmlAgilityPack.dll
bin/Release/HtmlAgilityPack.pdb
bin/Release/HtmlAgilityPack.xml
bin/Release/snoopy8_2_2018_10_47_58_AM.xlsx
ebayScrapper.csproj
ebayScrapper.sln
Form1-before-eeplus.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ebayScrapper.csproj.CopyComplete
obj/Debug/ebayScrapper.csproj.CoreCompileInputs.cache
obj/Debug/ebayScrapper.csproj.FileListAbsolute.txt
obj/Debug/ebayScrapper.csproj.GenerateResource.cache
obj/Debug/ebayScrapper.csproj.ResolveComReference.cache
obj/Debug/ebayScrapper.csprojResolveAssemblyReference.cache
obj/Debug/ebayScrapper.exe
obj/Debug/ebayScrapper.Form1.resources
obj/Debug/ebayScrapper.pdb
obj/Debug/ebayScrapper.Properties.Resources.resources
obj/Debug/Interop.ACTIVEXLib.dll
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/DesignTimeResolveAssemblyReferences.cache
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/ebayScrapper.csproj.CopyComplete
obj/Release/ebayScrapper.csproj.CoreCompileInputs.cache
obj/Release/ebayScrapper.csproj.FileListAbsolute.txt
obj/Release/ebayScrapper.csproj.GenerateResource.cache
obj/Release/ebayScrapper.csproj.ResolveComReference.cache
obj/Release/ebayScrapper.csprojResolveAssemblyReference.cache
obj/Release/ebayScrapper.exe
obj/Release/ebayScrapper.Form1.resources
obj/Release/ebayScrapper.pdb
obj/Release/ebayScrapper.Properties.Resources.resources
obj/Release/Interop.ACTIVEXLib.dll
obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages.config
packages/EPPlus.4.5.2.1/EPPlus.4.5.2.1.nupkg
packages/EPPlus.4.5.2.1/lib/net35/EPPlus.dll
packages/EPPlus.4.5.2.1/lib/net35/EPPlus.xml
packages/EPPlus.4.5.2.1/lib/net40/EPPlus.dll
packages/EPPlus.4.5.2.1/lib/net40/EPPlus.xml
packages/EPPlus.4.5.2.1/lib/netstandard2.0/EPPlus.dll
packages/EPPlus.4.5.2.1/lib/netstandard2.0/EPPlus.xml
packages/EPPlus.4.5.2.1/readme.txt
packages/FSharp.Core.4.0.0.1/FSharp.Core.4.0.0.1.nupkg
packages/FSharp.Core.4.0.0.1/lib/net20/FSharp.Core.dll
packages/FSharp.Core.4.0.0.1/lib/net20/FSharp.Core.optdata
packages/FSharp.Core.4.0.0.1/lib/net20/FSharp.Core.sigdata
packages/FSharp.Core.4.0.0.1/lib/net20/FSharp.Core.xml
packages/FSharp.Core.4.0.0.1/lib/net40/FSharp.Core.dll
packages/FSharp.Core.4.0.0.1/lib/net40/FSharp.Core.optdata
packages/FSharp.Core.4.0.0.1/lib/net40/FSharp.Core.sigdata
packages/FSharp.Core.4.0.0.1/lib/net40/FSharp.Core.xml
packages/FSharp.Core.4.0.0.1/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.dll
packages/FSharp.Core.4.0.0.1/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.optdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.sigdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+monoandroid10+monotouch10+xamarinios10/FSharp.Core.xml
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45+wp8/FSharp.Core.dll
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45+wp8/FSharp.Core.optdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45+wp8/FSharp.Core.sigdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45+wp8/FSharp.Core.xml
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.dll
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.optdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.sigdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45+wpa81+wp8/FSharp.Core.xml
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45/FSharp.Core.dll
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45/FSharp.Core.optdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45/FSharp.Core.sigdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+netcore45/FSharp.Core.xml
packages/FSharp.Core.4.0.0.1/lib/portable-net45+sl5+netcore45/FSharp.Core.dll
packages/FSharp.Core.4.0.0.1/lib/portable-net45+sl5+netcore45/FSharp.Core.optdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+sl5+netcore45/FSharp.Core.sigdata
packages/FSharp.Core.4.0.0.1/lib/portable-net45+sl5+netcore45/FSharp.Core.xml
packages/HtmlAgilityPack.1.4.9.4/HAPIcon.png
packages/HtmlAgilityPack.1.4.9.4/HtmlAgilityPack.1.4.9.4.nupkg
packages/HtmlAgilityPack.1.4.9.4/lib/Net20/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.4.9.4/lib/Net20/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.4.9.4/lib/Net20/HtmlAgilityPack.xml
packages/HtmlAgilityPack.1.4.9.4/lib/Net40-client/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.4.9.4/lib/Net40-client/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.4.9.4/lib/Net40-client/HtmlAgilityPack.xml
packages/HtmlAgilityPack.1.4.9.4/lib/Net40/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.4.9.4/lib/Net40/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.4.9.4/lib/Net40/HtmlAgilityPack.XML
packages/HtmlAgilityPack.1.4.9.4/lib/Net45/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.4.9.4/lib/Net45/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.4.9.4/lib/Net45/HtmlAgilityPack.XML
packages/HtmlAgilityPack.1.4.9.4/lib/NetCore45/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.4.9.4/lib/NetCore45/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.4.9.4/lib/NetCore45/HtmlAgilityPack.pri
packages/HtmlAgilityPack.1.4.9.4/lib/NetCore45/HtmlAgilityPack.xml
packages/HtmlAgilityPack.1.4.9.4/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.4.9.4/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.4.9.4/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.4.9.4/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.4.9.4/lib/sl5/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.4.9.4/lib/sl5/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.4.9.4/lib/sl5/HtmlAgilityPack.XML
packages/HtmlAgilityPack.1.4.9.4/readme.txt
packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/LICENSE.md
packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
packages/ScrapySharp.2.6.2/lib/net40/ScrapySharp.Core.dll
packages/ScrapySharp.2.6.2/lib/net40/ScrapySharp.dll
packages/ScrapySharp.2.6.2/lib/net45/ScrapySharp.Core.dll
packages/ScrapySharp.2.6.2/lib/net45/ScrapySharpAsync.dll
packages/ScrapySharp.2.6.2/ScrapySharp.2.6.2.nupkg
